@mixin cycle_color($color) {
    @for $i from 0 to $k {
      &:nth-child(#{$i}) {
        $mcolor: ($i % 10) * 15; //light
        @if $mcolor >= 100 {
          $mcolor: $mcolor%100;
        }
        color: lighten($color, $mcolor)
      }
    }
  }
  